@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    position: relative;
    width:100%;
    height:100vh;
    background-color:#fff;
    overflow: hidden;
}
header{
    position: relative;
    width:100%;
    padding:35px 140px;
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.logo a{
    text-decoration:none;
    font-size:20px;
    font-weight:700;
    text-transform: capitalize;
    font-family: 'Playfair Display', serif;
    color:#262626;
}
.menu ul{
    display:flex;
    list-style:none;
}
.menu ul li a{
    text-decoration:none;
    font-size:16px;
    text-transform: capitalize;
    color:#262626;
    margin:0 18px;
    cursor: pointer;
    position: relative;
}
.menu ul li a::before{
    position: absolute;
    content:"";
    left:0;
    bottom:-2px;
    width:50%;
    height:1px;
    background-color:#262626;
    transform:translateX(-18px);
    transition:0.5s;
    opacity:0;
}
.menu ul li a:hover::before{
    transform:translateX(1px);
    opacity:1;
}
.content{
    position: relative;
    padding:20px 140px;
    display:flex;
}
.left-info{
    position: relative;
    width:50%;
}
.left-info h1{
    font-family:Playfair Display;
    font-size:3rem;
    font-weight:400;
    color:#262626;
}
.left-info .text{
    padding-top:12px;
    font-size:18px;
    font-weight:300;
    color:#262626;
}
.left-info .btn{
    padding-top:30px;
}
.left-info .btn a{
    text-decoration:none;
    padding:12px 35px;
    background-color:#F2F0DF;
    color:#262626;
    font-size:16px;
    text-transform: capitalize;
    font-weight:500;
    border-radius:12px;
    cursor: pointer;
    transition:0.5s;
}
.left-info .btn .btn01{
    border:1px solid #F2F0DF;
}
.left-info .btn .btn01:hover{
    border-color: #262626;
}
.left-info .btn .btn02{
    background-color:transparent;
}
.left-info .text-box{
    margin-top:60px;
    display:flex;
    border:1px solid #262626;
    padding:30px 30px;
    width:480px;
    border-radius:8px;
}
.left-info .text-box h2{
    font-size:23px;
    font-weight:300;
}
.left-info .text-box .detils{
    padding-left:40px;
}
.left-info{
    position: relative;
    width:50%;
}
.prodict-boxes{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:8px;
    align-items:stretch;
}
.product-box{
    background-color:red;
    align-items:stretch;
    height:230px;
    border-radius:12px;
}
.product-01{
    grid-row-end: span 2;
    background-color:red;
    align-items:stretch;
    background-image:url(img/show.png);
    height:468px;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}
.product-01 img{
    width:68%;
    position: relative;
    top:-65px;
    left:-80px;
}
.product-02{
    background-image:url(img/winter.png);
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}
.product-03{
    background-image:url(img/shirtt.png);
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}
.product-01 .product-info{
    position: absolute;
    bottom:15px;
}
.product-02 .product-info{
    position: absolute;
    top:18vh;
}
.product-03 .product-info{
    position: absolute;
    bottom:15px;
}
.product-info{
    position:relative;
    display:flex;
    align-items:center;
    background-color:#fff;
    margin:12px 12px;
    border-radius:12px;
    padding:12px 20px;
}
.product-info .product-title{
    padding:0px 20px;
}
.product-info .product-title h2{
    font-size:18px;
}
.product-info h3{
    font-weight:500;
}
.text-box img{
    position: absolute;
    left:-12px;
    width:13%;
}
